html,
body {
    margin: 0;
    height: 100%;
     /* font-family: 'Oswald', sans-serif; */
    font-family: 'Exo 2', sans-serif;
    /* font-family: 'Chakra Petch', sans-serif;   */
     /* background-color:#4E413B;
    background-color:#2C2727;
    background-color: #FF7517 */
  

}
h2{
    font-family: 'Exo 2', sans-serif;
}
.homePicture {
background-color: black;
    background-image: url("images/home.JPG");
    margin: 0;
    height: 100%;
    width: 100%;
}

.parallax{
    margin: 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sticky {
    position: fixed;
top:0;
    
    
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


li {
    font-size: 10px;
    display: inline;
}
a:active{
    color: #FF7517;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
}

.About{
    padding: 25px;
}
.About>p{

    line-height: 30px;
}
.aboutPicture{

max-height: 100px;
max-width: 100px;
border-radius: 50%

}
.portfolio{
    background-color: #FF7517;
    min-height: 500px;
    
    z-index: -1;
}
.container{
    display: block;
 
}

.accomplishments{
    text-align: center;
    
}
.reviews{
    padding: 50px;
}

.circle{
    border-radius: 50%;
    max-height: 100px;
    max-width: 100px;
  margin-left: auto;
  margin-right: auto;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition:.3;

}
.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
#quotes{
    font-size:20px;
}
@media only screen and (max-width: 1000px){
    #topnav{
        background-color: #f8f9fa00;
    }
}
.portfolioImg{
    height:800px;
    width:100%;
    opacity:.6;
   
}
.card{
    z-index: -1;
}

.moreInfo{
    position: absolute;
    left:40%;
    top:40%;

}
.collapse.show{
    height:800px;
}
.header {
    margin-left:14%;
    padding: 8px 0 10px 0;
    background: red;
    position: relative;
    display: none;
    z-index: 2000;
  }
  .menu-btn {
 
    position: sticky;
    right: 10%;
    z-index: 2000;

}
#panel, #flip {
  
text-align: center;
  

}

#panel {

background-color:white;
min-height:800px;
display: none;
}
.hide{
    visibility: hidden;
}
.accImage{
    position:relative;
    text-align: center;
    opacity:.9;
}
.accText{
    position: absolute;
    margin-top:40%;
    margin-left:30%;
    color:white;
    z-index:1;
    text-align: center;
}

.content {
    height:100%;
     position: absolute;
     width:0px;
     z-index: 1;
     top: 0;
     right: 0;
     background-color: white;
     transition: 0.5s;
     text-align:center;
     overflow:hidden;
 }
 
 .content a {
     padding: 8px 8px 8px 32px;
     text-decoration: none;
     font-size: 25px;
     color: #818181;
     display: block;
     transition: 0.3s;
 
 }
 .content2 {
  height:50%;
   position: absolute;
   width:0px;
   z-index: 1;
   top: 50%;
   right: 0;
   background-color: white;
   transition: 0.5s;
   text-align:center;
   overflow:hidden;
}

.content2 a {
   padding: 8px 8px 8px 32px;
   text-decoration: none;
   font-size: 25px;
   color: #818181;
   display: block;
   transition: 0.3s;
   overflow: hidden;

}
 
 .content .closebtn {
     position: absolute;
     top: 0;
     right: 25px;
     font-size: 36px;
     margin-left: 30px;
 }
 .accomplishments{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
 }
 .accomplishText{
    position: -webkit-sticky;
    position: sticky;
    bottom: 20rem;
    align-self: flex-end;
    margin-top: 30%;
    margin-bottom:40%;
 }
 .portfolio{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
 }
.imageHeader{
    width:100%;
    height:300px;
}
.orangeBox{
    background-color: #FF7517;
    padding:10px;
    color:white;


}
.closeButton{
    background-color:black;
    color:#FF7517;
    position: absolute;
    border-radius:50%;
    text-align:center;
    width:50px;
    height:50px;
    margin-left: -20px;
    margin-top:30%;
}
