html,
body {
    margin: 0;
    height: 100%;
    /* font-family: 'Oswald', sans-serif;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Chakra Petch', sans-serif; */

    /* this colors are the ones i mostly used may be adding more
     background-color:#4E413B;
    background-color:#2C2727;
    background-color: #FF7517 */
  

}

.homePicture {

    background-image: url("images/home.JPG");
    margin: 0;
    height: 100%;
    width: 100%;
}

.parallax{
    margin: 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar-light .navbar-toggler {
     color: rgba(0,0,0,0); 
     border-color: rgba(0,0,0,0); 
}
.bg-light {
    background-color: none!important;
}
#topnav {
    background-color: #2C2727;
    overflow: hidden;

   
    
}

.sticky {
    position: fixed;
    top: 0;
    
    
  }
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
}
#topnav a {
    float: left;
    padding: 5px;
    color: #FF7517;
    font-size: 1.3em;
    /* font-family: 'Chakra Petch', sans-serif; */
    font-family: 'Oswald', sans-serif;
    /* font-family: 'Exo 2', sans-serif;
   */
}
.About{
    padding: 25px;
}
.About>p{

    line-height: 30px;
}
.aboutPicture{

max-height: 100px;
max-width: 100px;
border-radius: 50%

}
.portfolio{
    background-color: #FF7517;
    min-height: 500px;
    align-items: flex-start;
    z-index: -1;
}
.container{
    display: block;
 
}
/* .portfolio>h1{
    text-align: center;
    margin-top: 250px;
    display: flex;
    

} */
.accomplishments{
    background-color: #2C2727;
    min-height: 500px;
    z-index: -1;
}
.reviews{
    padding: 50px;
}

.circle{
    border-radius: 50%;
    max-height: 100px;
    max-width: 100px;
  margin-left: auto;
  margin-right: auto;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition:.3;

}
.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
#quotes{
    font-size:20px;
}
@media only screen and (max-width: 1000px){
    #topnav{
        background-color: #f8f9fa00;
    }
}
.portfolioImg{
    height:800px;
    width:100%;
    opacity:.6;
   
}
.card{
    z-index: -1;
}
.contentImage{
    background:black;
    padding: 0px;
}
.moreInfo{
    position: absolute;
    left:40%;
    top:40%;

}
.collapse.show{
    height:800px;
}
.header {
    margin-left:14%;
    padding: 8px 0 10px 0;
    background: red;
    position: relative;
    display: none;
    z-index: 2000;
  }
  .menu-btn {
 
    position: sticky;
    right: 10%;
    z-index: 2000;

}
#panel, #flip {
  
text-align: center;
  

}

#panel {

background-color:white;
min-height:800px;
display: none;
}
.hide{
    visibility: hidden;
}
.accImage{
    position:relative;
    text-align: center;
    opacity:.9;
}
.accText{
    position: absolute;
    top:20%;
    left:50%;
    color:#FF7517;
    z-index:1;
}

.content {
    height:50%;
     position: absolute;
     width:0px;
     z-index: 1;
     top: 0;
     right: 0;
     background-color: white;
     overflow-x: hidden;
     transition: 0.5s;
     text-align:center;
 }
 
 .content a {
     padding: 8px 8px 8px 32px;
     text-decoration: none;
     font-size: 25px;
     color: #818181;
     display: block;
     transition: 0.3s;
 
 }
 
 
 .content .closebtn {
     position: absolute;
     top: 0;
     right: 25px;
     font-size: 36px;
     margin-left: 50px;
 }