/*Home parallax and styles for the whole site */

html,
body {
    margin: 0;
    height: 100%;
    font-family: 'Oswald', sans-serif;
}

p {
    font-family: 'Exo 2', sans-serif;
}

.homeText h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 12em;
}

.homePicture {
    filter: brightness(.8);
    background-image: url("images/home2.JPG");
    margin: 0;
    height: 100%;
    width: 100%;

}

.homeText {
    color: #FF7517;
    padding-top: 10%;
    margin-left: 4%;
    text-align: center;

}

.parallax {
    margin: 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sticky {
    position: fixed;
    top: 50px;


}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
}

.container {
    display: block;

}
.circle {
    border-radius: 50%;
    max-height: 100px;
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
}
.orangeBox {
    background-color: #FF7517;
    padding: 10px;
    color: white;


}


/****About Me****/
.About {
    padding: 25px;
}

.About>h1 {

    font-size: 4em;
}

.aboutPicture {
    height: 200px;
    width: 200px;

    border-radius: 50%
}

/*education tab style*/
.courseList>li {
    font-size: .9em;
    text-align: center;
    list-style: none;

}

.educationContent {
    margin-top: 12%;
    padding: 20px;
    background-color: #272727;
    color: white;
}

/**Portfolio**/
.portfolio {
    z-index: -1;
    background-color: #FF7517;
    min-height: 500px;


}
.portfolioImg {
    height: 800px;
    width: 100%;
    opacity: .6;

}
/*portfolio tab design*/
.nav-link {

    border-radius: 0 !important;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    text-align: center;
    color: #fff;
    background-color: #272727;
}

/* card design */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: .3;
    margin-bottom: 10px;

}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


.experienceCards {
    min-height: 450px;
}

.experienceIcon {
    font-size: 30px;
    color: #FF7517;
}

.progress {
    border-radius: 0 !important;

}

.progress-bar {
    background-color: #FF7517 !important;
}

a:active {
    color: #FF7517;
}

/* Accomplishment ***/

.accImage {
    position: relative;
    text-align: center;
    opacity: .9;
}

.accomplishments {
    min-height: 500px;
    z-index: -1;
    text-align: center;
}

.accomplishText {
    margin-top: 30%;
    text-align: center;

}
.accomplishNav>li {
    font-size: 10px;
    display: inline;
}
.contentImage {
    padding: 0px;
}

/***Reviews**/

.reviews {
    padding: 100px;
}



#quotes {
    font-size: 20px;
}





/*button design*/

.orangeButton {
    background-color: #FF7517;
    border-color: #FF7517
}


/**Footer*/
.orangeButton:hover {
    background-color: #FF7517;
    border-color: #FF7517
}


.fa-quote-left {
    color: #FF7517;
    padding: 10px;
}

.fa-quote-right {
    color: #FF7517;
    padding: 10px;
    float: right;
}

footer h2 {
    color: white;
    font-size: 2.2em;

}

footer h3 {
    padding: 10px;
    color: white;
    font-size: 1.2em;
    border-bottom: 1px solid white;


}

footer p {
    color: #FFB689;
    font-size: 1em;
}

footer {
    background-color: #FF7517;
    padding: 50px;
}

.ContactForm {
    margin-top: 60px;
    text-align: center;
}

.form-control {
    color: white !important;
    background-color: #FFB689 !important;
    border-radius: 0 !important;
}

.btn {
    color: white;
    background-color: #FFB689;
    border-radius: 0 !important;
}

.form-group label {
    float: left;
}


a:link {
    color: #FFB689;
}

a:visited {
    color: #FFB689;
}

a:active {
    color: #2C2727;
}

a:hover {
    color: #272727
}

.shapeborder {
    border: 2px solid #FFB689;
}

.circleIcon {
    height: 100px;
    border-radius: 50%;
}

.outer {
    height: 50px;
    width: 50px;
    float: left;
}

.social {
    margin-top: 10px;
    margin-left: 2px;
}

.gitIcon {
    font-size: 3em;
    color: #FFB689;
    margin-left: 2px;
}



.icon {
    color: #FFB689;
    font-size: 1.3em;
    margin-left: 12px;
    margin-top: 12px;
}
/*form text design for all browsers*/

.form-control::-webkit-input-placeholder {
    color: white;
}

/* WebKit, Blink, Edge */
.form-control:-moz-placeholder {
    color: white;
}

/* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder {
    color: white;
}

/* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder {
    color: white;
}

/* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder {
    color: white;
}

/**media style*/

@media only screen and (max-width: 1000px) {
    #topnav {
        background-color: #f8f9fa00;
    }
    .workExperience > .row{
        flex-wrap: nowrap;
       overflow: scroll;
    }
    .skillContent>.row{
        flex-wrap: nowrap;
        overflow: scroll;
    }
}
